<html>
<head>
<title> Student </title>
</head>
	<body>
		Name: {{student.name}} <br>
		Roll No.: {{student.rollNo}} <br>
		Address: {{student.address}} <br>
		Is Active: {{student.isActive}} <br>
		Guardian Name: {{student.guardianName}} <br>
		Guardian Phone: {{student.guardianPhone}} <br>
		Relation: {{student.guardiansRelationWithChild}} <br>
		Reference Name: {{student.referenceName}} <br>
		Reference Phone: {{student.referencePhone}} <br>
		Reference Address: {{student.referenceAddress}} <br>
		Joining Date: {{student.joiningDate}} <br>
	</body>
</html>